# Imports

In [1]:
import math
import pandas as pd
import nfl_data_py as nfl

# Creating Mass Data Set

In [2]:
years = range(2000, 2023 + 1)

## Seasonal Data

In [3]:
df_seasonal = nfl.import_seasonal_data(years)

In [4]:
df_seasonal.head()

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,yac_sh,wopr_y,ry_sh,rtd_sh,rfd_sh,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh
0,00-0000003,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.002418
1,00-0000007,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.034230,0.0,0.043478,0.041667,0.017115,0.027384,0.197183,0.053758
2,00-0000007,2001,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.064838,0.0,0.095238,0.083333,0.032419,0.051870,0.412698,0.054108
3,00-0000007,2003,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.024091,0.0,0.027273,0.025424,0.012046,0.019273,0.139241,0.021780
4,00-0000007,2004,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.007149,0.0,0.000000,0.000000,0.003574,0.005719,0.051136,0.018839

## Combine and Draft Capital

In [5]:
df_combine = nfl.import_combine_data(years)

In [6]:
df_combine.head()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,2000,2000.0,New York Jets,1.0,13.0,AbraJo00,None,John Abraham,OLB,South Carolina,6-4,252.0,4.55,NaN,NaN,NaN,NaN,NaN
1,2000,2000.0,Seattle Seahawks,1.0,19.0,AlexSh00,shaun-alexander-1,Shaun Alexander,RB,Alabama,6-0,218.0,4.58,NaN,NaN,NaN,NaN,NaN
2,2000,2000.0,Kansas City Chiefs,6.0,188.0,AlfoDa20,None,Darnell Alford,OT,Boston Col.,6-4,334.0,5.56,23.0,25.0,94.0,8.48,4.98
3,2000,NaN,None,NaN,NaN,None,None,Kyle Allamon,TE,Texas Tech,6-2,253.0,4.97,NaN,29.0,104.0,7.29,4.49
4,2000,2000.0,Carolina Panthers,1.0,23.0,AndeRa21,None,Rashard Anderson,CB,Jackson State,6-2,206.0,4.55,NaN,34.0,123.0,7.18,4.15

In [86]:
df_draft_cap = nfl.import_draft_picks(years)

In [87]:
df_draft_cap.head()

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
6026,2000,1,1,CLE,None,BrowCo22,courtney-brown-1,Courtney Brown,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,156.0,NaN,19.0
6027,2000,1,2,WAS,None,ArriLa00,lavar-arrington-1,LaVar Arrington,False,LB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,338.0,3.0,23.5
6028,2000,1,3,WAS,None,SamuCh00,chris-samuels-2,Chris Samuels,False,T,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
6029,2000,1,4,CIN,None,WarrPe00,peter-warrick-1,Peter Warrick,False,WR,...,0.0,53.0,360.0,2.0,275.0,2991.0,18.0,3.0,NaN,NaN
6030,2000,1,5,BAL,None,LewiJa00,jamal-lewis-2,Jamal Lewis,False,RB,...,0.0,2542.0,10607.0,58.0,221.0,1879.0,4.0,NaN,NaN,NaN

## Roster Data

In [7]:
df_roster = nfl.import_seasonal_rosters(years)

In [8]:
df_roster.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,entry_year,rookie_year,draft_club,ngs_position,week,game_type,status_description_abbr,football_name,draft_number,age
0,2000,IND,RB,RB,34,CUT,Abdul-Karim al-Jabbar,Abdul-Karim,al-Jabbar,1974-06-28,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,26.0
1,2000,TB,RB,RB,27,ACT,Rabih Abdullah,Rabih,Abdullah,1975-04-27,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0
2,2000,CLE,LB,OLB,53,ACT,Rahim Abdullah,Rahim,Abdullah,1976-03-22,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,24.0
3,2000,TB,DB,CB,21,ACT,Donnie Abraham,Nathaniel,Abraham,1973-10-08,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,26.0
4,2000,DET,DB,CB,24,RES,Kevin Abrams,Kevin,Abrams,1974-02-28,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,26.0

### Massaging Roster Data

In [33]:
df_roster_seasonal = df_roster[["position", "player_name", "player_id", "pfr_id", "season", "age"]]

## Merging DFs

In [95]:
df_merge = df_seasonal.merge(df_roster_seasonal, on=["player_id", "season"], how="left")

In [96]:
df_merge_cleaned = df_merge.copy().drop_duplicates()

In [97]:
# for col in df_combine.columns:
#     print(f"df_merge_cleaned.at[i, '{col}'] = combine_row['{col}'].iloc[0]")

In [99]:
for i, row in df_merge_cleaned.iterrows():
    pfr_id = row["pfr_id"]

    
    combine_row = df_combine.query(f"""pfr_id == "{pfr_id}" """)    
    if not combine_row.empty:
        # draft info
        df_merge_cleaned.at[i, 'draft_year'] = combine_row['draft_year'].iloc[0]
        df_merge_cleaned.at[i, 'draft_team'] = combine_row['draft_team'].iloc[0]
        df_merge_cleaned.at[i, 'draft_round'] = combine_row['draft_round'].iloc[0]
        df_merge_cleaned.at[i, 'draft_ovr'] = combine_row['draft_ovr'].iloc[0]
        df_merge_cleaned.at[i, 'school'] = combine_row['school'].iloc[0]
        
        # combine info
        df_merge_cleaned.at[i, 'ht'] = combine_row['ht'].iloc[0]
        df_merge_cleaned.at[i, 'wt'] = combine_row['wt'].iloc[0]
        df_merge_cleaned.at[i, 'forty'] = combine_row['forty'].iloc[0]
        df_merge_cleaned.at[i, 'bench'] = combine_row['bench'].iloc[0]
        df_merge_cleaned.at[i, 'vertical'] = combine_row['vertical'].iloc[0]
        df_merge_cleaned.at[i, 'broad_jump'] = combine_row['broad_jump'].iloc[0]
        df_merge_cleaned.at[i, 'cone'] = combine_row['cone'].iloc[0]
        df_merge_cleaned.at[i, 'shuttle'] = combine_row['shuttle'].iloc[0]
    else:
        draft_capital_row = df_draft_cap.query(f"""pfr_player_id == "{pfr_id}" """) 
        
        if not draft_capital_row.empty:
            df_merge_cleaned.at[i, 'draft_year'] = draft_capital_row['season'].iloc[0]
            df_merge_cleaned.at[i, 'draft_team'] = draft_capital_row['team'].iloc[0]
            df_merge_cleaned.at[i, 'draft_round'] = draft_capital_row['round'].iloc[0]
            df_merge_cleaned.at[i, 'draft_ovr'] = draft_capital_row['pick'].iloc[0]

# Adding Fantasy Tiering

In [101]:
df_fantasy_tiering = df_merge_cleaned.copy()

In [102]:
def assign_tier(group):
    group['tier'] = (group.reset_index(drop=True).index // 12) + 1
    return group

## WRs

In [103]:
df_wr = df_fantasy_tiering.loc[df_fantasy_tiering["position"] == "WR"]

In [104]:
df_sorted_wr = df_wr.copy().sort_values(by=['season', 'fantasy_points_ppr'], ascending=[True, False])
df_tiered_wr = df_sorted_wr.groupby('season').apply(assign_tier)

/tmp/ipykernel_10500/2867442387.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_tiered_wr = df_sorted_wr.groupby('season').apply(assign_tier)

In [105]:
df_tiered_wr.query("season == 2023")[["player_name", "fantasy_points_ppr",
                                      "tier", "draft_ovr", "draft_team"]].head(36)

                    player_name  fantasy_points_ppr  tier  draft_ovr  \
season
2023   13745        CeeDee Lamb              405.20     1       17.0
       11793        Tyreek Hill              376.40     1      165.0
       14011  Amon-Ra St. Brown              330.90     1      112.0
       14320         Puka Nacua              298.50     1      177.0
       13427         A.J. Brown              289.60     1       51.0
       12950         D.J. Moore              286.50     1       24.0
       10780         Mike Evans              282.50     1        7.0
       9968        Keenan Allen              278.86     1       76.0
       10919       Stefon Diggs              273.80     1      146.0
       10728      Davante Adams              265.40     1       53.0
       13973      Ja'Marr Chase              262.72     1        5.0
       13858       Nico Collins              260.40     1       89.0
       13643    Michael Pittman              252.20     2       34.0
       13656      Brandon Aiyuk              249.20     2       25.0
       13465       Deebo Samuel              243.70     2       36.0
       14083        Chris Olave              231.30     2       11.0
       9797        Adam Thielen              231.00     2        NaN
       12968      Calvin Ridley              229.90     2       26.0
       13981      DeVonta Smith              227.60     2       10.0
       10853       Amari Cooper              227.00     2        4.0
       13383         DK Metcalf              225.40     2       64.0
       10249    DeAndre Hopkins              223.60     2       27.0
       14305     Jordan Addison              221.30     2       23.0
       13039      Jakobi Meyers              218.58     2        NaN
       14324        Jayden Reed              217.20     3       50.0
       14172     Garrett Wilson              213.20     3       10.0
       14318        Rashee Rice              212.50     3       55.0
       12401       Chris Godwin              209.20     3       84.0
       14087     George Pickens              208.80     3       52.0
       14315        Zay Flowers              206.40     3       22.0
       13709   Justin Jefferson              204.20     3       22.0
       13407     Terry McLaurin              203.20     3       76.0
       11328      Tyler Lockett              202.40     3       69.0
       13878      Jaylen Waddle              198.60     3        6.0
       12636   Courtland Sutton              190.20     3       40.0
       14191        Romeo Doubs              174.40     3      132.0

                        draft_team
season
2023   13745        Dallas Cowboys
       11793                   KAN
       14011         Detroit Lions
       14320      Los Angeles Rams
       13427      Tennessee Titans
       12950     Carolina Panthers
       10780  Tampa Bay Buccaneers
       9968     San Diego Chargers
       10919     Minnesota Vikings
       10728     Green Bay Packers
       13973    Cincinnati Bengals
       13858        Houston Texans
       13643    Indianapolis Colts
       13656   San Francisco 49ers
       13465   San Francisco 49ers
       14083    New Orleans Saints
       9797                    NaN
       12968       Atlanta Falcons
       13981                   PHI
       10853       Oakland Raiders
       13383      Seattle Seahawks
       10249        Houston Texans
       14305     Minnesota Vikings
       13039                  None
       14324     Green Bay Packers
       14172         New York Jets
       14318    Kansas City Chiefs
       12401  Tampa Bay Buccaneers
       14087   Pittsburgh Steelers
       14315      Baltimore Ravens
       13709     Minnesota Vikings
       13407   Washington Redskins
       11328      Seattle Seahawks
       13878                   MIA
       12636        Denver Broncos
       14191     Green Bay Packers

In [108]:
df_tiered_wr.to_pickle("../../FantasyData/data-frames/df_wr_college_2000_2023.pkl")

# Draft Values

In [106]:
df_draft_values = nfl.import_draft_values()

In [107]:
df_draft_values.head(10)

   pick  stuart  johnson     hill   otc    pff
0     1    34.6     3000  1000.00  3000  1.135
1     2    30.2     2600   717.17  2635  1.099
2     3    27.6     2200   514.33  2421  1.063
3     4    25.8     1800   490.52  2270  1.027
4     5    24.3     1700   467.81  2152  0.991
5     6    23.2     1600   446.15  2056  0.955
6     7    22.2     1500   425.50  1975  0.919
7     8    21.4     1400   405.80  1905  0.883
8     9    20.6     1350   387.01  1843  0.847
9    10    19.9     1300   369.09  1787  0.811