# Imports

In [37]:
import pandas as pd
import numpy as np

In [38]:
import nfl_data_py as nfl

# Grabbing Data

In [39]:
df_pbp = pd.read_pickle("../../interactive/df_pbp_2012_2022.pkl")

In [40]:
df_pbp.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,1.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,53.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,74.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_pass = df_pbp.query("play_type == 'pass' and season_type == 'REG' and drive_inside20 == 0")

# Forming Personnel DF

In [42]:
# offense_formation
# offense_personnel
# offense_players
# n_offense

# defense_personnel
# defense_players
# n_defense

What is `n_offense`? Do we need it? Same for `n_defense`

## NFL Trends

## Formation

In [43]:
df_grouped_formation = df_pass \
    .groupby(["offense_formation"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [44]:
df_grouped_formation.columns = list(map("_".join, df_grouped_formation.columns))
df_grouped_formation.reset_index(inplace=True)

In [45]:
df_grouped_formation

,offense_formation,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
0,ACE,1.000000,1,1.0,0.923765,0.923765,1
1,EMPTY,0.345205,10333,3567.0,-0.363936,-3760.551514,10333
2,I_FORM,0.415803,3088,1284.0,-0.124683,-385.020935,3088
3,JUMBO,0.314815,54,17.0,-0.391628,-21.147930,54
4,PISTOL,0.379109,1369,519.0,-0.205415,-281.212463,1369
5,SHOTGUN,0.335766,52900,17762.0,-0.358812,-18981.179688,52901
6,SINGLEBACK,0.401792,10493,4216.0,-0.151331,-1587.915771,10493
7,WILDCAT,0.365385,104,38.0,-0.192409,-20.010548,104

## Formation By Season

In [46]:
df_grouped_formation_season = df_pass \
    .groupby(["offense_formation", "season"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [47]:
df_grouped_formation_season.columns = list(map("_".join, df_grouped_formation_season.columns))
df_grouped_formation_season.reset_index(inplace=True)

In [48]:
df_grouped_formation_season \
    .query("play_id_count >= 50") \
    .sort_values(by="epa_mean", ascending=False)

,offense_formation,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
23,PISTOL,2017,0.403509,114,46.0,0.030214,3.444444,114
10,I_FORM,2018,0.448015,529,237.0,-0.021292,-11.263302,529
11,I_FORM,2019,0.429907,428,184.0,-0.062493,-26.747171,428
36,SINGLEBACK,2016,0.421337,1481,624.0,-0.088052,-130.404877,1481
9,I_FORM,2017,0.420472,635,267.0,-0.101345,-64.354073,635
40,SINGLEBACK,2020,0.413589,1354,560.0,-0.116145,-157.260941,1354
37,SINGLEBACK,2017,0.400718,1672,670.0,-0.121873,-203.771057,1672
38,SINGLEBACK,2018,0.412219,1555,641.0,-0.125030,-194.421722,1555
8,I_FORM,2016,0.396761,494,196.0,-0.142885,-70.585213,494
12,I_FORM,2020,0.384021,388,149.0,-0.164283,-63.741959,388
28,PISTOL,2022,0.399340,303,121.0,-0.176344,-53.432217,303
39,SINGLEBACK,2019,0.386684,1562,604.0,-0.192561,-300.780457,1562
27,PISTOL,2021,0.411215,214,88.0,-0.194662,-41.657673,214
25,PISTOL,2019,0.372549,204,76.0,-0.205292,-41.879665,204
41,SINGLEBACK,2021,0.391949,1416,555.0,-0.206589,-292.530182,1416
42,SINGLEBACK,2022,0.386786,1453,562.0,-0.212489,-308.746490,1453
13,I_FORM,2021,0.422492,329,139.0,-0.227791,-74.943336,329
24,PISTOL,2018,0.405660,106,43.0,-0.228990,-24.272955,106
26,PISTOL,2020,0.351220,205,72.0,-0.248471,-50.936638,205
14,I_FORM,2022,0.392982,285,112.0,-0.257494,-73.385864,285
1,EMPTY,2016,0.356175,1328,473.0,-0.307878,-408.862518,1328
22,PISTOL,2016,0.327354,223,73.0,-0.325012,-72.477768,223
33,SHOTGUN,2020,0.347238,7096,2464.0,-0.331890,-2355.090576,7096
2,EMPTY,2017,0.354932,1389,493.0,-0.340254,-472.612885,1389
29,SHOTGUN,2016,0.336806,7776,2619.0,-0.342244,-2661.286133,7776
32,SHOTGUN,2019,0.338478,7646,2588.0,-0.343255,-2624.527832,7647
31,SHOTGUN,2018,0.343554,7664,2633.0,-0.348347,-2669.733398,7664
3,EMPTY,2018,0.361594,1380,499.0,-0.349766,-482.676514,1380
5,EMPTY,2020,0.361868,1542,558.0,-0.354713,-546.967224,1542
4,EMPTY,2019,0.333788,1465,489.0,-0.374221,-548.234375,1465
35,SHOTGUN,2022,0.329285,7823,2576.0,-0.374244,-2927.712158,7823
6,EMPTY,2021,0.334332,1669,558.0,-0.380446,-634.964111,1669
30,SHOTGUN,2017,0.324955,7758,2521.0,-0.384676,-2984.315674,7758
34,SHOTGUN,2021,0.330811,7137,2361.0,-0.386509,-2758.513184,7137
7,EMPTY,2022,0.318590,1560,497.0,-0.427073,-666.233887,1560

## Formation and Personnel

In [49]:
df_grouped = df_pass \
    .groupby(["offense_formation", "offense_personnel", "defense_personnel"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [50]:
df_grouped.columns = list(map("_".join, df_grouped.columns))
df_grouped.reset_index(inplace=True)

In [51]:
df_grouped.query("play_id_count >= 500").sort_values(by="success_mean", ascending=False).head()

,offense_formation,offense_personnel,defense_personnel,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
300,I_FORM,"2 RB, 1 TE, 2 WR","4 DL, 3 LB, 4 DB",0.427989,736,315.0,-0.139065,-102.352196,736
858,SINGLEBACK,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.426379,1759,750.0,-0.077585,-136.472305,1759
631,SHOTGUN,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.423629,1185,502.0,-0.138387,-163.988907,1185
832,SINGLEBACK,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",0.421376,814,343.0,-0.167843,-136.624390,814
853,SINGLEBACK,"1 RB, 2 TE, 2 WR","3 DL, 4 LB, 4 DB",0.400628,1273,510.0,-0.132015,-168.055481,1273

In [52]:
df_grouped.query("play_id_count >= 500").sort_values(by="epa_mean", ascending=False).head()

,offense_formation,offense_personnel,defense_personnel,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
858,SINGLEBACK,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.426379,1759,750.0,-0.077585,-136.472305,1759
296,I_FORM,"2 RB, 1 TE, 2 WR","3 DL, 4 LB, 4 DB",0.399267,546,218.0,-0.113880,-62.178619,546
853,SINGLEBACK,"1 RB, 2 TE, 2 WR","3 DL, 4 LB, 4 DB",0.400628,1273,510.0,-0.132015,-168.055481,1273
631,SHOTGUN,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.423629,1185,502.0,-0.138387,-163.988907,1185
300,I_FORM,"2 RB, 1 TE, 2 WR","4 DL, 3 LB, 4 DB",0.427989,736,315.0,-0.139065,-102.352196,736

## Team Trends

### By Play and Matchup

In [53]:
df_grouped_team = df_pass \
    .groupby(["offense_formation", "offense_personnel", "defense_personnel", "possession_team", "season"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [54]:
df_grouped_team.columns = list(map("_".join, df_grouped_team.columns))
df_grouped_team.reset_index(inplace=True)

In [55]:
df_grouped_team.query("play_id_count >= 100").sort_values(by="epa_mean", ascending=False).head(20)

,offense_formation,offense_personnel,defense_personnel,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
8284,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",KC,2020,0.355140,107,38.0,-0.103697,-11.095529,107
8356,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",PIT,2016,0.359649,114,41.0,-0.145836,-16.625340,114
8384,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2022,0.387097,124,48.0,-0.148234,-18.380974,124
8268,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",IND,2018,0.442308,104,46.0,-0.156658,-16.292458,104
7096,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",JAX,2016,0.449541,109,49.0,-0.163986,-17.874447,109
8360,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",PIT,2020,0.368750,160,59.0,-0.188091,-30.094542,160
8397,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",WAS,2021,0.352941,102,36.0,-0.244197,-24.908051,102
8254,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",GB,2018,0.366337,101,37.0,-0.256282,-25.884460,101
8359,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",PIT,2019,0.390909,110,43.0,-0.333306,-36.663605,110
8247,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",DET,2018,0.320388,103,33.0,-0.344248,-35.457573,103
8275,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",JAX,2018,0.378641,103,39.0,-0.412328,-42.469780,103
8331,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NYG,2016,0.369427,157,58.0,-0.419763,-65.902840,157
8235,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",DAL,2020,0.418182,110,46.0,-0.433625,-47.698784,110
8393,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",WAS,2017,0.380000,100,38.0,-0.442680,-44.267971,100
8323,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NE,2022,0.310680,103,32.0,-0.470222,-48.432835,103
8253,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",GB,2017,0.259259,108,28.0,-0.558318,-60.298317,108
8206,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",CAR,2019,0.345794,107,37.0,-0.584157,-62.504814,107
8371,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",SF,2016,0.297030,101,30.0,-0.623484,-62.971897,101

In [56]:
df_grouped_team.query("play_id_count >= 100 and season == 2022") \
    .sort_values(by="epa_mean", ascending=False).head(20)

,offense_formation,offense_personnel,defense_personnel,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
8384,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2022,0.387097,124,48.0,-0.148234,-18.380974,124
8323,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NE,2022,0.310680,103,32.0,-0.470222,-48.432835,103

In [57]:
df_grouped_team.query("play_id_count >= 100 and season == 2022") \
    .sort_values(by="play_id_count", ascending=False).head(20)

,offense_formation,offense_personnel,defense_personnel,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
8384,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2022,0.387097,124,48.0,-0.148234,-18.380974,124
8323,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NE,2022,0.310680,103,32.0,-0.470222,-48.432835,103

### Overall

In [58]:
df_grouped_team_overall = df_pass \
    .groupby(["possession_team", "season"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [59]:
df_grouped_team_overall.columns = list(map("_".join, df_grouped_team_overall.columns))
df_grouped_team_overall.reset_index(inplace=True)

In [60]:
df_grouped_team_overall.query("season == 2022") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
203,SF,2022,0.392405,316,124.0,-0.103445,-32.688675,316
28,BUF,2022,0.404321,324,131.0,-0.129476,-41.950127,324
105,JAX,2022,0.383954,349,134.0,-0.201748,-70.410118,349
112,KC,2022,0.378738,301,114.0,-0.221609,-66.704430,301
128,LV,2022,0.322493,369,119.0,-0.260117,-95.983063,369
135,MIA,2022,0.345013,371,128.0,-0.263115,-97.615761,371
181,PHI,2022,0.362229,323,117.0,-0.265639,-85.801262,323
210,TB,2022,0.355856,444,158.0,-0.287029,-127.440689,444
77,DET,2022,0.377483,302,114.0,-0.292466,-88.324875,302
49,CIN,2022,0.368580,331,122.0,-0.293273,-97.073517,331

In [61]:
df_grouped_team_overall.query("season == 2021") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
0,,2021,1.000000,1,1.0,0.002318,0.002318,1
111,KC,2021,0.434505,313,136.0,-0.076286,-23.877546,313
48,CIN,2021,0.392330,339,133.0,-0.130183,-44.132019,339
83,GB,2021,0.354015,274,97.0,-0.168157,-46.074989,274
62,DAL,2021,0.400576,347,139.0,-0.188457,-65.394714,347
202,SF,2021,0.366013,306,112.0,-0.204968,-62.720181,306
141,MIN,2021,0.337531,397,134.0,-0.228336,-90.649292,397
209,TB,2021,0.362179,312,113.0,-0.230364,-71.873642,312
6,ARI,2021,0.380783,281,107.0,-0.275698,-77.471130,281
216,TEN,2021,0.368932,309,114.0,-0.313746,-96.947578,309

In [62]:
df_grouped_team_overall.query("season == 2020") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
110,KC,2020,0.428571,336,144.0,0.006368,2.139612,336
89,HOU,2020,0.446203,316,141.0,-0.055348,-17.490004,316
82,GB,2020,0.400000,265,106.0,-0.092229,-24.440786,265
26,BUF,2020,0.444043,277,123.0,-0.113014,-31.304817,277
123,LAC,2020,0.371585,366,136.0,-0.177148,-64.836067,366
215,TEN,2020,0.389105,257,100.0,-0.180797,-46.464893,257
186,PIT,2020,0.367609,389,143.0,-0.203102,-79.006638,389
208,TB,2020,0.384401,359,138.0,-0.214396,-76.968048,359
194,SEA,2020,0.385507,345,133.0,-0.214645,-74.052589,345
33,CAR,2020,0.355828,326,116.0,-0.237016,-77.267227,326

In [63]:
df_grouped_team_overall.query("season == 2019") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
109,KC,2019,0.418338,349,146.0,0.048099,16.786581,349
153,NO,2019,0.405405,333,135.0,-0.081049,-26.989347,333
60,DAL,2019,0.406977,344,140.0,-0.150076,-51.626293,344
18,BAL,2019,0.359649,228,82.0,-0.163017,-37.167805,228
214,TEN,2019,0.362500,320,116.0,-0.188371,-60.278778,320
200,SF,2019,0.421818,275,116.0,-0.190461,-52.376667,275
88,HOU,2019,0.384181,354,136.0,-0.235471,-83.356689,354
11,ATL,2019,0.366412,393,144.0,-0.240324,-94.447197,393
122,LAC,2019,0.412844,327,135.0,-0.245191,-80.177437,327
139,MIN,2019,0.348754,281,98.0,-0.252832,-71.045799,281

In [64]:
df_grouped_team_overall.query("season == 2018") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
108,KC,2018,0.384921,252,97.0,-0.058840,-14.827797,252
121,LAC,2018,0.394737,304,120.0,-0.103712,-31.528431,304
184,PIT,2018,0.410072,417,171.0,-0.131774,-54.949665,417
10,ATL,2018,0.408854,384,157.0,-0.140574,-53.980438,384
59,DAL,2018,0.376119,335,126.0,-0.187664,-62.867466,335
145,NE,2018,0.384615,312,120.0,-0.196245,-61.228397,312
115,LA,2018,0.397004,267,106.0,-0.217564,-58.089661,267
94,IND,2018,0.400552,362,145.0,-0.230714,-83.518639,362
80,GB,2018,0.352144,443,156.0,-0.232427,-102.965042,443
192,SEA,2018,0.358209,268,96.0,-0.248283,-66.539948,268