# Imports

In [3]:
import pandas as pd
import numpy as np

In [4]:
import nfl_data_py as nfl

# Grabbing Data

In [5]:
df_pbp = pd.read_pickle("../../interactive/df_pbp_2012_2022.pkl")

In [6]:
df_pbp.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,1.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,53.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,74.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95.0,2012_01_ATL_KC,2012090908,KC,ATL,REG,1,ATL,away,KC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_pass = df_pbp.query("play_type == 'pass' and season_type == 'REG'")

In [119]:
for col in df_pbp.columns:
    if "20" in col:
        print(col)

drive_inside20

# Forming Personnel DF

In [ ]:
offense_formation
offense_personnel
offense_players
n_offense

defense_personnel
defense_players
n_defense

What is `n_offense`? Do we need it? Same for `n_defense`

## NFL Trends

## Formation

In [102]:
df_grouped_formation = df_pass \
    .groupby(["offense_formation"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [103]:
df_grouped_formation.columns = list(map("_".join, df_grouped_formation.columns))
df_grouped_formation.reset_index(inplace=True)

In [104]:
df_grouped_formation

,offense_formation,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
0,ACE,1.000000,1,1.0,0.923765,0.923765,1
1,EMPTY,0.452915,17893,8104.0,0.012348,220.946442,17893
2,I_FORM,0.506464,5647,2860.0,0.161218,910.395447,5647
3,JUMBO,0.525000,400,210.0,0.129957,51.982956,400
4,PISTOL,0.463678,2409,1117.0,0.077166,185.893188,2409
5,SHOTGUN,0.439754,88297,38829.0,-0.008493,-749.942810,88298
6,SINGLEBACK,0.493647,19202,9479.0,0.135405,2600.052734,19202
7,WILDCAT,0.416667,180,75.0,-0.012975,-2.335521,180

## Formation By Season

In [112]:
df_grouped_formation_season = df_pass \
    .groupby(["offense_formation", "season"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [113]:
df_grouped_formation_season.columns = list(map("_".join, df_grouped_formation_season.columns))
df_grouped_formation_season.reset_index(inplace=True)

In [116]:
df_grouped_formation_season \
    .query("play_id_count >= 50") \
    .sort_values(by="epa_mean", ascending=False)

,offense_formation,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
20,JUMBO,2021,0.516129,62,32.0,0.349899,21.693733,62
11,I_FORM,2019,0.518892,794,412.0,0.224229,178.037766,794
10,I_FORM,2018,0.526953,909,479.0,0.209998,190.887955,909
12,I_FORM,2020,0.508366,777,395.0,0.197853,153.731720,777
16,JUMBO,2017,0.546875,64,35.0,0.190854,12.214678,64
36,SINGLEBACK,2016,0.510702,2663,1360.0,0.182004,484.677368,2663
23,PISTOL,2017,0.468085,188,88.0,0.172518,32.433399,188
8,I_FORM,2016,0.501044,958,480.0,0.162290,155.473679,958
38,SINGLEBACK,2018,0.499099,2775,1385.0,0.159218,441.828674,2775
40,SINGLEBACK,2020,0.504255,2703,1363.0,0.157876,426.738892,2703
26,PISTOL,2020,0.501247,401,201.0,0.157010,62.961205,401
9,I_FORM,2017,0.486334,1061,516.0,0.134083,142.262390,1061
25,PISTOL,2019,0.442667,375,166.0,0.124178,46.566795,375
41,SINGLEBACK,2021,0.502950,2712,1364.0,0.121884,330.550568,2712
42,SINGLEBACK,2022,0.491340,2656,1305.0,0.113077,300.332916,2656
39,SINGLEBACK,2019,0.478584,2825,1352.0,0.110123,311.096588,2825
13,I_FORM,2021,0.523102,606,317.0,0.109699,66.477654,606
37,SINGLEBACK,2017,0.470711,2868,1350.0,0.106286,304.827881,2868
1,EMPTY,2016,0.468138,2401,1124.0,0.071224,171.009369,2401
27,PISTOL,2021,0.481675,382,184.0,0.057774,22.069815,382
28,PISTOL,2022,0.462891,512,237.0,0.054186,27.743217,512
14,I_FORM,2022,0.481550,542,261.0,0.043403,23.524300,542
24,PISTOL,2018,0.478947,190,91.0,0.041621,7.908028,190
33,SHOTGUN,2020,0.458629,12400,5687.0,0.033538,415.868530,12400
5,EMPTY,2020,0.472452,2777,1312.0,0.030965,85.990257,2777
18,JUMBO,2019,0.527273,55,29.0,0.025419,1.398040,55
6,EMPTY,2021,0.453136,2902,1315.0,0.018918,54.899982,2902
3,EMPTY,2018,0.465347,2424,1128.0,0.018830,45.644360,2424
4,EMPTY,2019,0.437748,2522,1104.0,0.017479,44.080795,2522
17,JUMBO,2018,0.480769,52,25.0,0.013525,0.703294,52
29,SHOTGUN,2016,0.439292,12939,5684.0,0.002793,36.143780,12939
34,SHOTGUN,2021,0.444874,12671,5637.0,0.000739,9.364683,12671
31,SHOTGUN,2018,0.444136,12593,5593.0,-0.002182,-27.483730,12593
32,SHOTGUN,2019,0.440817,12529,5523.0,-0.006646,-83.262337,12530
2,EMPTY,2017,0.444017,2340,1039.0,-0.031695,-74.166275,2340
35,SHOTGUN,2022,0.431940,13062,5642.0,-0.032052,-418.659973,13062
22,PISTOL,2016,0.415512,361,150.0,-0.038197,-13.789268,361
7,EMPTY,2022,0.428176,2527,1082.0,-0.042150,-106.512047,2527
30,SHOTGUN,2017,0.418326,12103,5063.0,-0.056343,-681.913757,12103
19,JUMBO,2020,0.493333,75,37.0,-0.119495,-8.962109,75

## Formation and Personnel

In [38]:
df_grouped = df_pass \
    .groupby(["offense_formation", "offense_personnel", "defense_personnel"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [39]:
df_grouped.columns = list(map("_".join, df_grouped.columns))
df_grouped.reset_index(inplace=True)

In [46]:
df_grouped.query("play_id_count >= 500").sort_values(by="success_mean", ascending=False).head()

,offense_formation,offense_personnel,defense_personnel,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
150,EMPTY,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.538314,522,281.0,0.195891,102.255325,522
1218,SINGLEBACK,"1 RB, 2 TE, 2 WR","3 DL, 3 LB, 5 DB",0.519525,589,306.0,0.136978,80.679893,589
1183,SINGLEBACK,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",0.514582,1543,794.0,0.130811,201.841751,1543
1225,SINGLEBACK,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.505415,3047,1540.0,0.173447,528.492065,3047
391,I_FORM,"2 RB, 1 TE, 2 WR","4 DL, 3 LB, 4 DB",0.501913,1307,656.0,0.139770,182.679825,1307

In [47]:
df_grouped.query("play_id_count >= 500").sort_values(by="epa_mean", ascending=False).head()

,offense_formation,offense_personnel,defense_personnel,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
150,EMPTY,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.538314,522,281.0,0.195891,102.255325,522
385,I_FORM,"2 RB, 1 TE, 2 WR","3 DL, 4 LB, 4 DB",0.497542,1017,506.0,0.185243,188.391998,1017
1225,SINGLEBACK,"1 RB, 2 TE, 2 WR","4 DL, 3 LB, 4 DB",0.505415,3047,1540.0,0.173447,528.492065,3047
1219,SINGLEBACK,"1 RB, 2 TE, 2 WR","3 DL, 4 LB, 4 DB",0.493547,2247,1109.0,0.160984,361.730743,2247
1035,SHOTGUN,"2 RB, 1 TE, 2 WR","4 DL, 3 LB, 4 DB",0.500917,545,273.0,0.140100,76.354431,545

## Team Trends

### By Play and Matchup

In [55]:
df_grouped_team = df_pass \
    .groupby(["offense_formation", "offense_personnel", "defense_personnel", "possession_team", "season"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [56]:
df_grouped_team.columns = list(map("_".join, df_grouped_team.columns))
df_grouped_team.reset_index(inplace=True)

In [62]:
df_grouped_team.query("play_id_count >= 100").sort_values(by="epa_mean", ascending=False).head(20)

,offense_formation,offense_personnel,defense_personnel,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
15644,SINGLEBACK,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",LA,2018,0.572414,145,83.0,0.515290,74.716980,145
10907,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",GB,2020,0.542857,105,57.0,0.399579,41.955822,105
11009,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",PIT,2018,0.540698,172,93.0,0.397650,68.395775,172
10851,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",BUF,2020,0.572727,110,63.0,0.372914,41.020519,110
10835,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",ATL,2018,0.527559,127,67.0,0.363230,46.130257,127
10921,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",IND,2020,0.577982,109,63.0,0.350418,38.195599,109
10899,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",DET,2019,0.537037,108,58.0,0.346490,37.420891,108
10837,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",ATL,2020,0.577586,116,67.0,0.314865,36.524387,116
9689,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",KC,2021,0.589147,129,76.0,0.314381,40.555168,129
10852,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",BUF,2021,0.559055,127,71.0,0.301810,38.329853,127
10949,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",LAC,2021,0.560976,164,92.0,0.299501,49.118233,164
10936,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",KC,2021,0.586538,104,61.0,0.274254,28.522427,104
10933,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",KC,2018,0.481818,110,53.0,0.266850,29.353531,110
10973,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NE,2021,0.474138,116,55.0,0.266124,30.870354,116
10863,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",CHI,2018,0.514019,107,55.0,0.260526,27.876312,107
11034,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2021,0.538462,130,70.0,0.241789,31.432629,130
10948,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",LAC,2020,0.533333,165,88.0,0.241296,39.813869,165
10854,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",CAR,2016,0.527273,110,58.0,0.233287,25.661612,110
10858,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",CAR,2020,0.504587,109,55.0,0.226778,24.718748,109
11031,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2018,0.492537,201,99.0,0.223628,44.949188,201

In [68]:
df_grouped_team.query("play_id_count >= 100 and season == 2022") \
    .sort_values(by="epa_mean", ascending=False).head(20)

,offense_formation,offense_personnel,defense_personnel,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
10874,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",CIN,2022,0.511628,129,66.0,0.211727,27.312834,129
10227,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",CIN,2022,0.456140,114,52.0,0.209218,23.850889,114
10888,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",DAL,2022,0.500000,104,52.0,0.179862,18.705658,104
9585,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",ARI,2022,0.435484,124,54.0,0.062159,7.707686,124
10950,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",LAC,2022,0.467626,139,65.0,0.027886,3.876094,139
11035,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2022,0.448276,174,78.0,0.025942,4.513896,174
10206,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",BUF,2022,0.470000,100,47.0,0.025327,2.532685,100
9703,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",LAC,2022,0.464000,125,58.0,0.025312,3.163960,125
11013,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",PIT,2022,0.455128,156,71.0,0.021564,3.364024,156
9734,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",NO,2022,0.484848,132,64.0,0.021283,2.809397,132
10832,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",ARI,2022,0.527778,108,57.0,0.020289,2.191198,108
10988,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NYG,2022,0.472222,108,51.0,0.000805,0.086965,108
10967,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",MIN,2022,0.471698,106,50.0,-0.000868,-0.092045,106
10276,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",IND,2022,0.459459,111,51.0,-0.002500,-0.277461,111
9627,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",CIN,2022,0.512397,121,62.0,-0.003309,-0.400385,121
10930,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",JAX,2022,0.481250,160,77.0,-0.011883,-1.901270,160
10895,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",DEN,2022,0.347222,144,50.0,-0.050038,-7.205474,144
10402,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",WAS,2022,0.382609,115,44.0,-0.093647,-10.769403,115
9788,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",TB,2022,0.444444,135,60.0,-0.102386,-13.822046,135
9613,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",CAR,2022,0.382609,115,44.0,-0.144599,-16.628883,115

In [86]:
df_grouped_team.query("play_id_count >= 100 and season == 2022") \
    .sort_values(by="play_id_count", ascending=False).head(20)

,offense_formation,offense_personnel,defense_personnel,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
11035,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",TB,2022,0.448276,174,78.0,0.025942,4.513896,174
10974,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NE,2022,0.360248,161,58.0,-0.247408,-39.832676,161
10930,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",JAX,2022,0.481250,160,77.0,-0.011883,-1.901270,160
11013,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",PIT,2022,0.455128,156,71.0,0.021564,3.364024,156
10895,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",DEN,2022,0.347222,144,50.0,-0.050038,-7.205474,144
10950,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",LAC,2022,0.467626,139,65.0,0.027886,3.876094,139
9788,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",TB,2022,0.444444,135,60.0,-0.102386,-13.822046,135
9734,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",NO,2022,0.484848,132,64.0,0.021283,2.809397,132
10874,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",CIN,2022,0.511628,129,66.0,0.211727,27.312834,129
9703,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",LAC,2022,0.464000,125,58.0,0.025312,3.163960,125
9585,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",ARI,2022,0.435484,124,54.0,0.062159,7.707686,124
9627,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",CIN,2022,0.512397,121,62.0,-0.003309,-0.400385,121
10402,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",WAS,2022,0.382609,115,44.0,-0.093647,-10.769403,115
9613,SHOTGUN,"1 RB, 1 TE, 3 WR","2 DL, 4 LB, 5 DB",CAR,2022,0.382609,115,44.0,-0.144599,-16.628883,115
10944,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",LA,2022,0.460870,115,53.0,-0.220605,-25.369576,115
10227,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",CIN,2022,0.456140,114,52.0,0.209218,23.850889,114
10276,SHOTGUN,"1 RB, 1 TE, 3 WR","3 DL, 3 LB, 5 DB",IND,2022,0.459459,111,51.0,-0.002500,-0.277461,111
10832,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",ARI,2022,0.527778,108,57.0,0.020289,2.191198,108
10988,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",NYG,2022,0.472222,108,51.0,0.000805,0.086965,108
10967,SHOTGUN,"1 RB, 1 TE, 3 WR","4 DL, 2 LB, 5 DB",MIN,2022,0.471698,106,50.0,-0.000868,-0.092045,106

### Overall

In [70]:
df_grouped_team_overall = df_pass \
    .groupby(["possession_team", "season"]) \
    .agg({
        "success": ["mean", "count", "sum"],
        "epa": ["mean", "sum"],
        "play_id": ["count"]
    })

In [71]:
df_grouped_team_overall.columns = list(map("_".join, df_grouped_team_overall.columns))
df_grouped_team_overall.reset_index(inplace=True)

In [80]:
df_grouped_team_overall.query("season == 2022") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
112,KC,2022,0.523529,680,356.0,0.249359,169.564270,680
203,SF,2022,0.486188,543,264.0,0.168432,91.458443,543
77,DET,2022,0.485294,612,297.0,0.161299,98.715263,612
28,BUF,2022,0.487644,607,296.0,0.137615,83.532333,607
49,CIN,2022,0.492401,658,324.0,0.121743,80.107216,658
105,JAX,2022,0.493631,628,310.0,0.113624,71.355843,628
135,MIA,2022,0.461290,620,286.0,0.080960,50.195053,620
181,PHI,2022,0.446552,580,259.0,0.076522,44.382954,580
210,TB,2022,0.470361,776,365.0,0.041702,32.360722,776
142,MIN,2022,0.481944,720,347.0,0.039261,28.267595,720

In [81]:
df_grouped_team_overall.query("season == 2021") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
209,TB,2021,0.516405,701,362.0,0.217872,152.728210,701
83,GB,2021,0.489600,625,306.0,0.189163,118.226891,625
62,DAL,2021,0.502326,645,324.0,0.187563,120.978340,645
111,KC,2021,0.518466,704,365.0,0.186817,131.519180,704
118,LA,2021,0.494540,641,317.0,0.168878,108.250786,641
6,ARI,2021,0.500861,581,291.0,0.152920,88.846634,581
48,CIN,2021,0.479452,584,280.0,0.147274,86.008095,584
124,LAC,2021,0.494382,712,352.0,0.145742,103.768112,712
202,SF,2021,0.479008,524,251.0,0.142775,74.814278,524
148,NE,2021,0.492908,564,278.0,0.100796,56.848759,564

In [82]:
df_grouped_team_overall.query("season == 2020") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
82,GB,2020,0.538603,544,293.0,0.320589,174.400223,544
110,KC,2020,0.532012,656,349.0,0.280544,184.036972,656
26,BUF,2020,0.546474,624,341.0,0.268858,167.767670,624
215,TEN,2020,0.514620,513,264.0,0.230030,118.005524,513
89,HOU,2020,0.515050,598,308.0,0.189158,113.116249,598
208,TB,2020,0.486068,646,314.0,0.185423,119.783478,646
54,CLE,2020,0.508604,523,266.0,0.158617,82.956551,523
96,IND,2020,0.487762,572,279.0,0.148323,84.840866,572
140,MIN,2020,0.511628,559,286.0,0.147841,82.643059,559
154,NO,2020,0.487273,550,268.0,0.122044,67.124001,550

In [83]:
df_grouped_team_overall.query("season == 2019") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
18,BAL,2019,0.486081,467,227.0,0.293190,136.919891,467
109,KC,2019,0.490033,602,295.0,0.216056,130.065903,602
153,NO,2019,0.511628,602,308.0,0.189868,114.300652,602
60,DAL,2019,0.521739,621,324.0,0.184385,114.502884,621
200,SF,2019,0.500967,517,259.0,0.161300,83.392181,517
174,OAK,2019,0.491833,551,271.0,0.145405,80.118347,551
139,MIN,2019,0.462777,497,230.0,0.141198,70.175201,497
214,TEN,2019,0.476000,500,238.0,0.102385,51.192665,500
122,LAC,2019,0.502385,629,316.0,0.096764,60.864700,629
116,LA,2019,0.464122,655,304.0,0.093316,61.121819,655

In [84]:
df_grouped_team_overall.query("season == 2018") \
    .sort_values(by="epa_mean", ascending=False).head(10)

,possession_team,season,success_mean,success_count,success_sum,epa_mean,epa_sum,play_id_count
108,KC,2018,0.517241,609,315.0,0.349037,212.563385,609
152,NO,2018,0.543438,541,294.0,0.239024,129.312057,541
121,LAC,2018,0.506329,553,280.0,0.212732,117.640587,553
115,LA,2018,0.508306,602,306.0,0.191472,115.266388,602
184,PIT,2018,0.495105,715,354.0,0.162384,116.104820,715
10,ATL,2018,0.504518,664,335.0,0.151140,100.356796,664
145,NE,2018,0.508417,594,302.0,0.138766,82.426895,594
192,SEA,2018,0.456476,471,215.0,0.137072,64.561104,471
94,IND,2018,0.503771,663,334.0,0.129472,85.839951,663
206,TB,2018,0.494768,669,331.0,0.120284,80.470116,669